body {
    font-family: Poppins;
    margin: 0px;
}
nav {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.global-margin {
    margin: 0px 50px;
}

.logo-icon{
    border: 1px solid black;
    height: 25px;
    width: 50px;
    background-size: cover;
    background-image: url(https://picsum.photos/200);
}

.nav-container {
    display: flex;
    
}

.nav-item {
    border: 1px solid black;
    padding: 8px;
}

.main-title {
    text-align: center;
    margin: 40px 0px;

        h1 {
            margin-bottom: 50px;
            font-size: 35px
        }
        p {
            margin-bottom: 50px;
            font-size: 18px;
        }
}

.main-content {
display: flex;

    .main-content-item{ 
        flex: 3;
        border: 1px solid black;
        width: 100%;
        height: 580px;


            .main-content-banner {
                height: 80%;
                width: 90%;
                margin: 0% 5%;
                border: 1px solid black;
                background-image: url(../assets/488Pista.jpg);
                background-size:cover;
                background-position: center;
                
            ;
            }

            p {
                text-align: center;
                font-size: 12px; 
                margin-top: 15px;
             }

            .main-content-review {
                display: flex;
                align-items: center;
                margin-top: 20px;
                justify-content: center;

            .review-icon {
                border: 1px solid black;
                border-radius: 100%;
                background-image: url(https://picsum.photos/200);
                width: 30px;
                height: 30px;
                margin-right: 15px;
            }

            .review-id {
                h3 {
                    margin: 1px;
                    font-size: 14px;
                }

                p {
                  text-align: left;
                  margin: 1px;
                  font-size: 10px;
                }
            }
        } /* main content review */


    } /* main content item */
    .main-content-form {
        flex: 2;
        border: 1px solid black;
        width: 100%;
        height: 450px;
        flex-direction: column;
        align-content: center;

        header{
            margin: 0px 30px 40px 30px;
            text-align: left;
            h3 {
                margin-top: 0px;
            }
            p {
                font-size: 12px;
            }
        }

        .form-container {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        label {
            width: 80%;
            font-size: 14px;
        }
        input{
            width: 70%;
            font-family: monospace;
            padding: 14px 14px;
            margin: 8px 4px;
            border: 1px solid black;
            border-radius: 4px;
            cursor: pointer;
        }
        select {
            width: 80%;
            font-family: monospace;
            padding: 14px 14px;
            margin: 8px 4px;
            border: 1px solid black;
            border-radius: 4px;
            cursor: pointer;
        }

        button {
            width: 80%;
            padding: 14px 14px;
        }
    }
}

.main-info {
   border: 1px solid black;
    margin-left: 24px;
    margin-bottom: 30px;
   .info-content {
    display: flex;
    border: 1px solid black;

        .info-num {
            font-weight: bold;
            border: 1px solid black;
            padding: 10px;
            margin-right: 15px;
            background-color: powderblue;
            width: 20px;
            height: 20px;
            font-size: 16px;
            text-align: center;
            align-content: center;
            align-self: center;
            border-radius: 50%;
        }

        p {
            font-size: 12px;
            text-align: justify;
            border: 1px solid black;
            width: 40%;
        }
   }
}

.collection-header {
    border: 1px solid black;;
    background-color: grey;
    text-align: center;
    padding: 35px;
    font-size: 20px;
}
.main-collection {
border: 1px solid black;
display:flex;
flex-direction: column;

    .collection-container {
        display:flex;
        border: 1px solid black;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .collection-item{
        border: 1px solid black;
        display:flex;
        align-items: center;
        width: 20%;

        .collection-icon {
            width: 35px;
            height: 35px;
            padding: 10px;
            border: 1px solid black;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        .collection-brand {
            font-size: 16px;
            font-weight: bold;
            margin-left: 10px;
        }


        #ferrari {
            background-image: url(../assets/brand-logo/ferrari.png);
        }
        #lamborghini {
            background-image: url(../assets/brand-logo/lamborghini.png);
        }
        #mclaren {
            background-image: url(../assets/brand-logo/mclaren.png);
        }
        #bmw {
            background-image: url(../assets/brand-logo/bmw.png);
        }
        #porsche {
            background-image: url(../assets/brand-logo/porsche.png);
        }
        #mercedes {
            background-image: url(../assets/brand-logo/mercedes.png);
        }
    }

   
}
.main-footer {
    border:1px solid black;
    margin:15px;

    h3, p{
        margin:5px;
    }

    .sosmed-container {
        margin: 5px;
        display:flex;
    }
    .sosmed-icon {
        margin: 5px;
        border:1px solid black;
        width: 30px;
        height: 30px;

    }
}


footer {
    font-size: 12px;
    margin-top: 25px;
    padding-left: 50px;
    border: 1px solid black;
}